{% extends '../base.html' %} {% load static %}{% block content%}
{% block label_page %}Portfolio{% endblock label_page %}
{% block li_nav %}
<li class="nav-item"><a class="nav-link" href="{% url 'portafolios' %}"><strong>Portfolio</strong></a></li>
{% if request.user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="#"><strong>Welcome, {{request.user.username}}</strong></a></li>
  
{% endif %}
{% endblock li_nav  %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Bikin</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">Pagina Principal</a></li> 
          <li><a class="nav-link scrollto" href="{% url 'login' %}">Ingresa a tu cuenta</a></li>
          <li><a class="nav-link scrollto" href="{% url 'create_project' %}">Crea tu PortaFolio</a></li><li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<div id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="button btn warning"></div>
      <div class="section-title">
        <h2>Todos los portafolios</h2>
        <p>Aqui estan todos los portafolios, puedes agregar mas con tu usuario</p>

      </div>
      </div>
      <div>
      {% block body %}
      <div class="row portfolio-container">
        {% for i in lista%}

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{i.foto_url}}" class="img-fluid" alt="{% static 'assets/img/portfolio/portfolio-1.jpg' %}">
            <div class="portfolio-info">
              <h4>{{i.titulo}}</h4>
            <p class="card-text" style='text-align: justify;'>
            </p>
              <div class="portfolio-links">
                <a href=" {{i.foto_url}} " data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{% url 'view_proyecto' id=i.id %}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div><div>
      </div>
            {% endfor %}
    </div>
</div></div>
    {% endblock body %} 
  </section>

  



{% endblock content %}